@import url(https://fonts.googleapis.com/css?family=Telex:400);
@import url(https://fonts.googleapis.com/css?family=Raleway);
/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

body {
    background-color: #F5F5F5;
    position: relative;
    background-image: url('../images/bg.png');
    background-size: cover;
}

#header {
    background-color: #264668;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
    width: 10000px;
    font-family: 'Telex';
}

a {
    color: white;
    text-decoration: none;
}

#header .logo {
    float: left;
    margin-left: 0.5%;
    width: 24.5%;
}

#header .gitntweet {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
}

#header .nav {
    color: white;
    float: left;
    text-align: right;
    width: 24.5%;
    height: 100%;
    margin-right: 0.5%;
    font-size: 20px;
}

#header .nav span {
    display: inline-block;
    line-height: 70px;
    margin-left: 5%;
}

#header .nav span:hover {
    text-decoration: underline;
}
#header .logo img {
    display: inline-block;
    max-height: 65px;
}

#header .gitntweet i {
    line-height: 70px;
}
#header-hex {
    width: 100%;
    display: block;
    height: 272px;
}
#header-hex img {
    width: 100%;
    float: left;
}
#header-hex img:last-child {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#main {
    margin: 5% 0% 5% 0%;
    width: 100%;
    height: 200px;
    text-align: center;
    font-family: 'Raleway';
}

.main-imgs {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

.info-imgs {
    max-width: 20%;
    max-height: 20%;
    display: inline-block;
}

.col2 {
    width: 50%;
    height: 100%;
    float: left;
    display: table-cell;
    vertical-align: middle;
}

#main .sph1 {
    margin: 0% 0% 5% 0%;
    font-size: 50px;
    display: block;
}

#main .sph2 {
    font-size: 35px;
    margin: 0% 0% 5% 0%;
    display: block;
}

.col2.text {
    display: inline-block;
}

#info {
    margin: 5% 0% 5% 0%;
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: 'Raleway';
}

#info .sph2 {
    font-size: 20px;
    display: block;
}

.col4 {
    width: 25%;
    float: left;
}

.download-button {
    width: 199px;
    height: 20px;
    background-color: #264668;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #264668;
    height: 49px;
}

#subscribe {
    width: 50%;
    text-align: left;
}

#subscribe input[type="text"] {
    width: 45%;
    text-align: center;
    border: 0;
    border-radius: 3px;
    height: 20px;
    background-color: rgba(0,0,0,0.2);
    color: white;
}

#subscribe input[type="submit"] {
    width: 10%;
    margin-left: 2%;
    border: 0;
    font-family: 'Telex';
    background-color: #264668;
    color: white;
    border: 1px solid rgba(17,17,17,0.5);
}

/* MEDIA */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .col2 {
        width: 100%;
    }
    .col4 {
        width: 100%;
        display: block;
    }
    #download {
        margin-bottom: 5%;
    }
    .navicon {
        display: block;
    }
}
/* END MEDIA */
