---
layout: default
title: Node OS
---

{% include forkme.html project="NodeOS/NodeOS" %}

<!-- Headline -->
<div class="container">  
  <div class="row">
  
    <div class="col-sm-12">
      <img src="images/terminal-window@2x.png" width=100%>
    </div>
    
  </div>           
</div>

<!-- Tagline -->
<div class="section inverse">
  <div class="container">
    <div class="row">
  
      <div class="col-sm-12">
          <p class="banner">
            NodeOS is a hacker-friendly operating system written in Node.js
            <a href="/blog/introduction/" class="btn btn-large btn-primary">Read More</a>
          </p>
      </div>
    
    </div>
  </div>
</div>

<!-- Tiles -->
<div class="section">
  <div class="container">
    <div class="row" id="tiles">
  
      <div class="col-sm-3">
        <div class="tile">
          <img src="images/linux.png" alt="Chat@2x">
          <div class="caption">
            <h3>Linux Kernel</h3>
            <p>NodeOS is a full OS built on top of the Linux kernel</p>
          </div>
        </div>
      </div>
    
      <div class="col-sm-3">
        <div class="tile">
          <img src="/images/nodejs.png" alt="Compas@2x">
          <div class="caption">
            <h3>NodeJS Runtime</h3>
            <p>Node is the primary runtime &mdash; no bash here</p>
          </div>
        </div>
      </div>
    
      <div class="col-sm-3">
        <div class="tile">
          <img src="/images/npm.png" alt="Infinity-Loop@2x">
          <div class="caption">
            <h3>NPM Packages</h3>
            <p>NodeOS uses NPM as its primary package manager</p> 
          </div>
        </div>
      </div>
    
      <div class="col-sm-3">
        <div class="tile">
          <img src="/images/github.png" alt="Pensils@2x">
          <div class="caption">
            <h3>Hosted on Github</h3>
            <p>Open and easy to contribute to &mdash; pull request friendly</p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>

<!-- Signup Banner -->
<div class="section inverse">
  <div class="container">
    <div class="row">
  
      <div class="col-sm-2 col-sm-offset-3">
        <img src="/images/nodeos-update.png" style="max-width:100%; max-height:200px;">
      </div>
      <div class="col-sm-6">
      {% include signup.html %}
      </div>
    
    </div>  
  </div>
</div>
