<div class="hero-foot subscribe">
  <div class="container">
    <div class="column">
      <form action="http://github.us7.list-manage.com/subscribe/post?u=799b4badd48caceec812082ea&amp;id=28162b6a0d" method="post" target="_blank" novalidate>
        <div class="control is-grouped">
          <h1>Subscribe for updates!</h1>
          <div class="control has-icon is-expanded">
            <input type="email" value="" name="EMAIL" class="input is-flat required email" placeholder="email address" required aria-required="true">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="control">
            <input type="submit" value="Subscribe" name="subscribe" class="button is-outlined">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
