<div class="hero-head">
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item logo" href="/">
        <img src="{{ "/assets/images/logo_white.png" | relative_url }}">
      </a>
    </div>

    <div class="nav-center">
      <a class="nav-item active" href="/">Home</a>
      <a class="nav-item" href="/blog">Blog</a>
      <a class="nav-item" href="/docs">Docs</a>
    </div>

    <div class="nav-right is-hidden-mobile">
      <a class="nav-item" href="https://github.com/NodeOS/NodeOS" target="_blank">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a class="nav-item" href="https://twitter.com/TheNodeOS" target="_blank">
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
      <a class="nav-item" href="/feed.xml" target="_blank">
        <span class="icon">
          <i class="fa fa-rss-square"></i>
        </span>
      </a>
    </div>
  </nav>
  <div class="banner"></div>
</div>
