<div class="hero-head">
  <!-- Simple fix to overriden color -->
  <nav class="nav" style="background-color: #254567">
    <div class="nav-left">
      <a class="nav-item logo" href="/">
        <img src="{{ "/assets/images/logo_white.png" | relative_url }}">
      </a>
    </div>

    <div class="nav-center">
       <a class="nav-item" href="https://github.com/NodeOS/NodeOS" target="_blank">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a class="nav-item" href="https://twitter.com/TheNodeOS" target="_blank">
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
    </div>
    <div class="nav-right">
      <a class="nav-item active" href="/">
          Home
      </a>
      <a class="nav-item" href="/blog">
        Blog
      </a>
    </div>
  </nav>
  <img class="banner" src="{{ "/assets/images/hex_art.svg" | relative_url }}">
</div>
