<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="http://github.us7.list-manage.com/subscribe/post?u=799b4badd48caceec812082ea&amp;id=28162b6a0d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  	<label for="mce-EMAIL">Subscribe for Updates</label>
  	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
  	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
</div>
<!--End mc_embed_signup-->
