---
layout: default
---

<div class="columns">
  <div class="column is-three-quarters">
    <div class="content">
      {{ content }}
    </div>
  </div>
  <div class="column">
    <nav class="panel">
      <p class="panel-heading">Quick Links</p>
      <a class="panel-block" href="/docs/">What is NodeOS?</a>
      <p class="panel-heading">Installation</p>
      <a class="panel-block" href="/docs/Using-precompiled-Binaries.html">Using precompiled Binaries</a>
      <a class="panel-block" href="/docs/Building-From-Source.html">Building From Source</a>
      <p class="panel-heading">Getting Started</p>
      <a class="panel-block" href="/docs/Service-Starter-(PalmTree).html">Service Starter</a>
      <a class="panel-block" href="/docs/Commands.html">Commands</a>
      <a class="panel-block" href="/docs/FileSystem.html">Filesystem</a>
      <p class="panel-heading">Contributing</p>
      <a class="panel-block" href="/docs/Dependency-Tree.html">Dependency Tree</a>
    </nav>
  </div>
</div>
