---
layout: default
---

<div class="columns">
  <div class="column is-half">
    <h2 class="title">
      Node OS
    </h2>
    <h2 class="subtitle">
      The first operating system powered by npm.
    </h2>
    <img class="hero-image" src="images/terminal-window.png">
  </div>
  <div class="column">
    <ul>
      <li><img src="images/linux.png" />node-os is a full operating system built on top of the linux kernel</li>
      <li><img src="images/nodejs.png" />node is the primary runtime - no bash here</li>
      <li><img src="images/npm.png" />node-os uses npm as its primary package manager</li>
      <li><img src="images/github.png" />open and easy to contribute to - pull request friendly</li>
    </ul>
    <a class="button is-outlined is-dark is-large download">
      <span class="icon">
        <i class="fa fa-download"></i>
      </span>
      <span>Download</span>
    </a>
  </div>
</div>
